<div class="container">
    <div class="row box">
        <div class="col-12 col-lg-4">
            <h2>Pizzák</h2>
            <img class="img-thumbnail" src="../../assets/images/pizza.jpg">
            <br>
            <a class="tovabb" routerLink="/menu">Tovább</a>
        </div>
        <div class="col-12 col-lg-4">
            <h2>Hamburgerek</h2>
            <img class="img-thumbnail" src="../../assets/images/hamburger.jpg">
            <br>
            <a class="tovabb" routerLink="/menu">Tovább</a>
        </div>
        <div class="col-12 col-lg-4">
            <h2>Saláták</h2>
            <img class="img-thumbnail" src="../../assets/images/salata.jpg">
            <br>
            <a class="tovabb" routerLink="/menu">Tovább</a>
        </div>
    </div>
</div>