<section>
    <div class="container-fluid">
        <div class="row box">
            <div class="col-12 col-lg-4">
                <h2>Pizzák</h2>
                <form [formGroup]="pizzaForm" (ngSubmit)="submitPizzaForm()" method="post">
                    <input type="text" id="name" formControlName="name" class="input" placeholder="Név" required>
                    <input type="number" id="price" formControlName="price" class="input" placeholder="Ár" required>
                    <input type="submit" id="feliratkozas" value="Feltöltés">
                </form>
                <table>
                    <tr>
                        <th class="name">Név</th>
                        <th class="price">Ár</th>
                        <th class="delete">Törlés</th>
                    </tr>
                    <tr *ngFor="let it of pizzaModel">
                        <td>{{ it.name }}</td>
                        <td>{{ it.price }}</td>
                        <td><a (click)="deletePizza(it.id)">Törlés</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-lg-4">
                <h2>Hamburgerek</h2>
                <form [formGroup]="hamburgerForm" (ngSubmit)="submitHamburgerForm()" method="post">
                    <input type="text" id="name" formControlName="name" class="input" placeholder="Név" required>
                    <input type="number" id="price" formControlName="price" class="input" placeholder="Ár" required>
                    <input type="submit" id="feliratkozas" value="Feltöltés">
                </form>
                <table>
                    <tr>
                        <th class="name">Név</th>
                        <th class="price">Ár</th>
                        <th class="delete">Törlés</th>
                    </tr>
                    <tr *ngFor="let it of hamburgerModel">
                        <td>{{ it.name }}</td>
                        <td>{{ it.price }}</td>
                        <td><a (click)="deleteHamburger(it.id)">Törlés</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-12 col-lg-4">
                <h2>Saláták</h2>
                <form [formGroup]="salatForm" (ngSubmit)="submitSalatForm()" method="post">
                    <input type="text" id="name" formControlName="name" class="input" placeholder="Név" required>
                    <input type="number" id="price" formControlName="price" class="input" placeholder="Ár" required>
                    <input type="submit" id="feliratkozas" value="Feltöltés">
                </form>
                <table>
                    <tr>
                        <th class="name">Név</th>
                        <th class="price">Ár</th>
                        <th class="delete">Törlés</th>
                    </tr>
                    <tr *ngFor="let it of salatModel">
                        <td>{{ it.name }}</td>
                        <td>{{ it.price }}</td>
                        <td><a (click)="deleteSalat(it.id)">Törlés</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row box">
            <div class="col-12" id="subscribers">
                <h2>Feliratkozások</h2>
                <table>
                    <tr>
                        <th>Email cím</th>
                        <th class="delete">Törlés</th>
                    </tr>
                    <tr *ngFor="let it of subscriberModel">
                        <td>{{ it.email }}</td>
                        <td><a (click)="deleteSubscriber(it.id)">Törlés</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>